{% extends "auctions/layout.html" %}

{% block body %}

<div class="super_container">
    <div class="single_product">
        <div class="container-fluid bg-light pro-cont border rounded" style=" background-color: #fff; padding: 11px;">
            <div class="row mt-md-5">
                
                <div class="col text-center">
                    {% if listing.photo %}
                    <div class="image_selected"><img src="{{listing.photo}}" alt="" class="pro-img border border-success rounded"></div>
                    {% endif %}
                </div>
                <div class="{% if not listing.photo %} col-lg-6 p-5 border border-success rounded{% else %} col-lg {% endif %} pro-des mt-lg-0 mt-5 text-left px-3 px-md-5">
                    <div class="product_description">
                        <div class="pro-title">
                            <h4 class="h4-title">{{ listing.title }}</h4>
                            <hr>
                        </div>
                        <div class="pro-details">
                            <div class="likes-reviews mt-3 row">
                                <form action="{% url 'listing' listing.id %}" class="liked col" method="post">
                                {% csrf_token %}
                                <button class="heart" type="submit" name="like"><span id="btntxt">
                                {% for like in likes %}
                                    {% if like.liked_by == user %}
                                    <span>&#10084</span>
                                    {% endif %}
                                {% endfor %}
                                    </span>
                                </button>
                                {{likes|length}} likes, <a href="#comment" style="text-decoration: none;">&#128172</a> {{comment|length}} comments and <b>$</b> {{bid|length}} bids.
                                <script async>
                                    var el = document.getElementById('btntxt');
                                    if (!el.children.length) {document.getElementById("btntxt").innerHTML += '<span>&#9825</span>';
                                }
                                </script>
                                
                                </form> 
                              </div>
                            <hr>
                            <div class="starting-bid mt-5 small"><strong>Starting Bid: </strong>${{listing.price}}</div>
                            {% if bid|length %}
                            <div class="current-bid small">
                                <strong>Current-bid: </strong><span class="show-price"> ${{bid.0.bid_amt}} </span>
                            </div>
                            {% endif %}
                            <hr>
                            <div class="pro-des my-5"><strong class="h4">Description:</strong> {{listing.details}} </div>
                            <div class="owner"><strong>Listed by:</strong> {{listing.owner_id}}</div>
                        </div>
                        <div class="btns">
                            <div class="init">
                                <button class="bid-btn" id="bid">Bid Now</button>
                                <form action="{% url 'listing' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="bid-btn" type="submit" name="watch" style="background-color:{% if watch|length %}palevioletred{% else %}darkturquoise{% endif %};">
                                        {% if watch|length %} Remove from Watchlist {% else %} Add to watchlist {% endif %}
                                    </button>
                                </form>
                            </div>
                            <div class="fin">
                                <form action="{% url 'listing' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="amt" step="0.01" placeholder="Enter Amount" required min="{{bid.0.bid_amt}}">
                                    <input type="submit" value="Bid" name="bid">
                                </form>
                            </div>
                            
                             
                        </div>
                    </div>
                    
                </div>
                
                {% if not listing.photo %}
                <div class="col text-center">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container-fluid bg-light pro-cont border rounded mt-5 comment-section" style=" background-color: #fff; padding: 11px;">
            <div class="row mt-md-5 mx-3">
                <div class="comment-count h4"> &#128172  {{comment|length}} Comments</div>
                <hr>
                <div class="comment-form">
                    <form action="{% url 'listing' listing.id %}" method="post" autocomplete="off" id="comment">
                        <textarea placeholder="Add your Comment" class="comment-input" name="comment_txt" onclick="document.getElementsByClassName('comment-btns')[0].style.display = 'block';"></textarea>
                        {% csrf_token %}
                        <div class="comment-btns">
                            <input type="button" value="Cancel" class="comment-btn" onclick="document.getElementsByTagName('textarea')[0].value = ''; document.getElementsByClassName('comment-btns')[0].style.display = 'none';">
                            <input type="submit" value="Comment" class="comment-btn" name="comment">
                        </div>
                        
                    </form>
                    <div class="oth-comm">
                        {% for each in comment %}
                        <span class="user h6 row mt-3 mx-3">{{each.commentor_id}}: </span><span class="comment row mx-3">{{each.comment_txt}}</span>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}