{% extends "auctions/layout.html" %}

{% block body %}
<div class="text-center">

    <form action="{% url 'register' %}" method="post" class="form-signin">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control m-3" autofocus type="text" name="username" placeholder="Username">
        
            <input class="form-control m-3" type="email" name="email" placeholder="Email Address">
       
            <input class="form-control m-3" type="password" name="password" placeholder="Password">
        
            <input class="form-control m-3" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary m-3" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>

{% endblock %}