.ggimg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

.gsch{
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.searchbox{
    display: flex;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding-left: 14px;
    align-items: center;
}

.searchbox:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
input[type="text"]{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    height: 34px;
    font-size: 16px;
    margin: 8px;
}

.btn{
    display: block;
    text-align: -webkit-center;
    padding-top: 18px;
}

input[type="submit"]{
    /*Most properties here are set in resemblence wih google*/
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}